
{% extends 'home.html' %}
{%block home%}
{%endblock%}
{% block content %}
<div class='container'>
		<div class='row'>
		<div class='col-md-2'></div>
		<div class='col-md-10 pull-left'>
			<p class="bg-warning" style='font-size:20px;font-weight:bold;'>

				<span class="glyphicon glyphicon-pencil""></span>
				&nbsp;&nbsp;
				Enter Payment Details
			</p>
		</div>
	</div>

	
	<div class='row'>
		<div class='col-md-4'></div>
		<div class='col-md-8'>
			<form  method="post">
				{% csrf_token %}
				{{ form.as_p }}
				<input type="submit" value="Submit" />
			</form>
		</div>
	</div>
</div>
{% endblock %}

